
<app-display></app-display>




<div class="firstdiv">

<div class="seconddiv">
    <mat-card  class="mat-card">
         
        <div class="row" >

        <div class="imagediv">
           <img  src={{value.value}} style="height: 25rem;width: 30rem;margin-left: 3rem;margin-top: 2rem;">
           <!-- {{name.value}} -->

        </div>

        <div class="contentdiv">
           
            <p style="font-size: 2rem;">{{name.value}}:{{price.value}}

            </p>
           <p class="h3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> 

                <p>
               <strong>78%</strong>
               of buyers enjoyed this product! 
                 <strong>(23 votes)</strong>

                </p>

                <h5 > 
                    <span style="font-size: 2rem;">sizes:</span>
                   <span class="size" title="small">S</span>
                    <span class="size" title="mediam">M</span>
                    <span  class="size" title="large">L</span>
                    <span class="size" title="extra large">xl</span>
                </h5>
                     
                <h5 >
                <span style="font-size: 2rem;" >colors:</span>
                <span style="display: inline-block;">
                    <div style="height: 3rem;width: 15rem;margin-left: 25px;display: inline-block;"  >
                      
                       <div class="colordiv" style="background-color:yellow;">

                       </div>
                       <div class="colordiv" style="background-color:green;">

                    </div>
                    <div class="colordiv" style="background-color: blueviolet;">

                    </div>

                    </div>
                </span>
                   
                    
                </h5>
           
                <div class="iconimage" >
                    <div  style="width: 9rem;height: 3rem;display: inline-block;">
                        <button mat-raised-button color="primary" style="border-radius: 25px;width: 9rem;height: 3rem;">add to cart</button>
                        
                        
                    </div >
                     
                    <div style="display: inline-block;margin-left: 2rem;">
                        <button mat-fab color="primary">
                            <mat-icon>favorite</mat-icon>
                          </button>

                    </div>

                </div>

        </div>

    </div>
    </mat-card>
  
</div>
</div>
