<div class="main">

    
       
    <mat-toolbar class="mat-toolbar" >
    

   

     <div class="matdivv" >
    <div class="icondiv" style="display: inline-block;">

         <div class="icons">
             <img style="height: 30px;margin-top: 10px;" src="assets/images/logo.svg">
         </div>
 

     <div class="icons" style="color: cornsilk;">
         <span class="m-l-10">Oreo</span>
     </div >

     <div class="icons"  >
         <button mat-icon-button>
         <mat-icon style="color: cornsilk;">sync_alt</mat-icon></button>
     </div>

   
     <div class="icons" >
         <button mat-icon-button>
         <mat-icon style="color: cornsilk;">event</mat-icon></button>
     </div>

     <div class="icons" >
         <button mat-icon-button>
         <mat-icon style="color: cornsilk;">email</mat-icon></button>
     </div>



     <div class="icons" >

         <button mat-icon-button>
   
         
        
         <mat-icon style="color: cornsilk;"> notification_important</mat-icon></button>
     </div>

     <div class="icons" >

         <button mat-icon-button>
   
         <mat-icon style="color: cornsilk;">flag</mat-icon></button>
         
     </div>
       
     
   
 </div>
   


   <div class="searchbar" >
        <mat-card class="searchmatcard" >
     
         <input style="border: none;" placeholder="Search.." >
          <mat-icon>search</mat-icon>
          </mat-card>
    </div>

    </div>
<!-- </div>
    -->
 
 
   
   <!-- <div style="display: inline-block;">  -->
      <div class="settingdiv" align="right">
      <button mat-icon-button>
         <mat-icon style=" color: cornsilk; ">settings_power</mat-icon>
      </button>
     
    
     <button mat-icon-button>
         <mat-icon style=" color: cornsilk; ">settings_applications</mat-icon>
      </button>
     </div>

    
 
 
     </mat-toolbar>
     
 
 
     <div class="secmaindiv">
         <div   style="width: 20rem;" style="display: inline-block;">
             <span style="color: cornsilk;">Product</span><br><br>
             <span style="color: cornsilk;"> Welcome to OREO</span>
            
         </div>

         <div style="    display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         height: 1em;">
         <mat-card class="matcard5" style="display: flex; align-items: center;">
             <h3 style="color:teal">oreo/ecomerce</h3>
         </mat-card>                

         </div>
         
      </div>   
        

    
     </div>