// .main
// {
//     background-color:blueviolet;
//     height: 180px;
//     width: auto;
   
// }

.above
{
    width: 60rem;
    height: auto;
    padding: block 2rem;;
    
}

.matcard
{
    height: 20rem;
    width: 17rem;
    padding-bottom: 1rem;
    // margin-right: 80px;
    //  margin-bottom: 40px;
    // margin-top: -3rem;

}

.matcardup
{
    height: 20rem;
    width: 17rem;
    padding-left: 1rem;
    padding-right: 1rem; 
   
}

.imagedisplay
{
    height: 17rem;
    width: 17rem;
   
}
.main
{
    background-color:blueviolet;
    height: 280px;
    width: 107rem;
    position: sticky;
    
   
}

// .searcbardiv
// {
//    display: flex;
//     width: 300px;
// }

.matdivv
{
    width: 45rem;
     height: 60px;
    

}
.mat-toolbar
{
    
    height:  60px;
    box-shadow: 0px 0px 5px 3px;
    background-color: slateblue;
    padding: 43px;
    
  //  width: 105rem;
 //width:1600px;
   
   
   
   
}

.matcarddivv
{
      display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         height: 1em;
}
       
.settingdiv
{
 width: 900px;


}
.icons
{
    // height: 30px;
    width: 50px;
     height: 55px; 
    display: inline-block;
    // flex: content;
    // align-items: center;
    // align-content: space-around;

    
}
.namedisplay
{   
    
    height: 3rem;
    width: auto;

}

.matcard5
{
    // height: 7px;
    width: 15rem;
    border-radius: 20px;
    background-color: light;
    height: 3px;
    align-content: center;
    
    
    // padding-left: 100px;
    // margin-left: 70rem;
    // margin-top: 10px;
    

}

.secmaindiv
{
    height: 80px;
    // width: 90em;
    padding-left: 2rem;
    padding-right: 2rem;
}
.iconset
{
padding-left: 52rem;
   
}

.textarea
{  
    text-align: center;
   height: 10px; 
   
    // border-style: hidden;
    
    // outline: hidden;
}

.searchmatcard
{    
    // border-radius: 30px;
   
    // width: 15rem;
    // align-items: center;

    border-radius: 30px;
    width: 15rem;
    // align-items: center;
    height: 1px;
    display: flex;
    align-items: center;
}

.chiplistdiv
{
    height: 40px;
    width: 50px;
    background-color: wheat;
}

.displaymain
{
   padding-left: 1rem;
   padding-right: 1rem;
   width: 102rem;
}


.searchbar
{
     height: 3rem;
     width: 18rem;
    align-items: center;
    display: inline-block;
    
   
}

.matcard1
{
    height: 30px;
    width: 40rem;

}

.icondiv
{
    height: 60px;
    width: 25rem;
  
    
}